/* static styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #000432, #111);
}

.hero-btn {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.3s ease;
  border: #fff solid 2px;
  font-weight: 500;
}

.hero-btn:hover {
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: #fff;
  border: #fff solid 2px;
}
/* will do it dynamic  */
.hero-hight {
  /* height: 85vh; */
  width: 100vw;
  overflow: hidden;
}

#hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background: radial-gradient(ellipse at bottom, #000432, #111); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
}

.hero-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  margin-top: -20vh;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3.5rem;
  font-weight: 800;
}

/* controller  */

.controller {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 999;
}
.setting-btn {
  cursor: pointer;
  height: 28px;
  width: 28px;
  background-color: rgba(255, 255, 255, 0.45);
  border: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.setting-icon {
  width: 20px;
  height: 20px;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn:hover {
  background-color: #45a049;
}

/* Modal  */
/* Modal Overlay */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: start;
  z-index: 1000;
  overflow-y: scroll;
}

/* Modal Box */
.modal-content {
  padding: 30px;
  background: rgba(46, 46, 46, 0.6);
  backdrop-filter: blur(10px);
  min-width: 50%;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.15);
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

/* animation options style  */
.animation-options {
  background-color: oklab(21.779% 0 -0.00002);
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
}

.animation-options p {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.animation-options label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

.animation-options input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

.animation-options input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #2a2a2a;
  color: #fff;
}

.animation-options input[type="text"]:focus,
.animation-options input[type="range"]:focus {
  outline: none;
  border-color: #00bfff;
  box-shadow: 0 0 6px #00bfff;
}

/* aurora animation  */
.animation-aurora {
  position: absolute;
  inset: 0px;
  pointer-events: none;
  background-image: repeating-linear-gradient(
    var(--aurora-angle, 100deg),
    var(--aurora-color1, #3b82f6) 10%,
    var(--aurora-color2, #a5b4fc) 15%,
    var(--aurora-color3, #93c5fd) 20%,
    var(--aurora-color4, #ddd6fe) 25%,
    var(--aurora-color5, #60a5fa) 30%
  );

  background-size: 300% 200%;
  background-position: 50% 50%;
  filter: blur(12px) invert(1);
  opacity: 0.5;
  animation: auroraMove ease-in-out infinite alternate;
  /* animation-duration: 15s; */
  mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 70%);
  -webkit-mask-image: radial-gradient(
    ellipse at 100% 0%,
    black 10%,
    transparent 70%
  );
}

@keyframes auroraMove {
  0% {
    background-position: 30% 30%;
  }
  50% {
    background-position: 70% 40%;
  }
  100% {
    background-position: 50% 70%;
  }
}

/* glowing start */
.beam {
  position: absolute;
  transform: translate(-15px, -15px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--beam-color-star),
    /* inner core */ 0 0 6px 4px rgba(255, 255, 255, 0.4),
    /* mid glow */ 0 0 20px 10px rgba(255, 255, 255, 0.15);
  left: 0;
  top: 0;
  animation: beam-animation 3s ease-in-out infinite;
}

.beam::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--beam-width, 150px);
  height: 1px;
  /* background: linear-gradient(90deg, #ff2929, transparent); */
  background: linear-gradient(
    90deg,
    var(--beam-color-tail, #ff2929),
    transparent
  );
}

@keyframes beam-animation-left {
  0% {
    transform: rotate(225deg) translateX(0px) translateY(20px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(225deg) translateX(-100vw);
    opacity: 0;
  }
}
@keyframes beam-animation-right {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-100vw);
    opacity: 0;
  }
}

.animationGridBeam {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-image: 
    /* vignette layer */ radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0) 70%,
      /* transparent center */ rgba(0, 0, 0, 0.6) 100% /* dark edges */
    ),
    /* your repeating beam grid */
      repeating-linear-gradient(
        45deg,
        #030303 0%,
        #030303 20%,
        #242424 20%,
        #242424 40%
      );

  background-blend-mode: multiply; /* makes vignette blend naturally */
}

/* .animationVideo {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.animationVideo video.background-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 999999; 
} */
.animationBorderGrid {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* transform: perspective(4000px) translate(-50%, -50%) skewX(30deg)
    skewY(-30deg) scale(2.5) rotateY(45deg) rotateX(45deg); */
  /* rotate and skew the grid */

  /* overflow: hidden; */
}
.gridbox {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(242, 241, 201, 0.03);
  transition: border-color 0.5s ease;
}

.gridbox.active {
  border-color: #f2f1c9;
  transition: border-color 0s ease;
}

/* color picker fix  */
.color-picker input[type="color"] {
  -webkit-appearance: none; /* Remove default styling */
  border: 3px solid white;
  border-radius: 50%; /* Make it circular */
  width: 36px;
  height: 36px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  vertical-align: middle;
}

/* For Chrome, Safari, Edge */
.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* For Firefox */
.color-picker input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

/* modal redesign  */
.hero-content-input-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  flex-wrap: wrap;
  margin: 10px 0;
}

/* radio button design  */
/* Container for radio buttons */
.hero-content-input-container label,
.animation-options label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 14px;
}

/* Hide default radio input */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
}

/* Hover effect */
input[type="radio"]:hover {
  border-color: #3b82f6;
}

/* Checked state */
input[type="radio"]:checked {
  border-color: #3b82f6;
  background-color: #3b82f6;
}

/* Inner dot for checked radio */
input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  flex-wrap: wrap;
}

/* Form Elements */
.settings-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.settings-form input,
.settings-form textarea,
.settings-form select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eeeeee;
  font-size: 14px;
}

/* hero grid style  */
.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* dynamic  */
  justify-content: space-between;
  gap: 10px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  /* background: linear-gradient(45deg, #3b82f6, #ef4444); */
}
.text-container {
  width: 100%;
  height: 100%;
  padding: 300px 0;
}
.image-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.image-container-hide {
  display: none;
}
.image-container-show {
  display: block;
}
.text-alignment-left {
  text-align: left;
}
.text-alignment-center {
  text-align: center;
}
.text-alignment-right {
  text-align: right;
}

@media screen and (max-width: 1440px) {
  .hero-grid {
    grid-template-columns: 1fr;
    padding: 200px 0;
  }
  .text-container {
    order: 2;
    padding: 0;
    margin-bottom: 10%;
  }
  .image-container {
    order: 1;
    max-width: 400px;
    margin: 0 auto;
  }
  .text-alignment-left {
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
}
